<p id="notice"><%= notice %></p>

<h2>Comment:</h2>

<p>
  <strong>User:</strong>
  <%= @comment.user.first_name %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_blog_comment_path(@blog, @comment) %>
<%= link_to 'Back', @blog %>
